#disabled-button-wrapper {
  display: inline-block;
  cursor: not-allowed;
}

#disabled-button-wrapper .btn[disabled] {
  pointer-events: none;
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
